html {
    --cream: #FFF8F4; 
    --green: #C9D386;
    --black: #2C150A; 
}

body {
    font-family: 'Lato', serif;
}

h2 {
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

h3 {
    color: var(--black);
    font-size: 28px;
    font-weight: 700; 
    letter-spacing: 1px;
    margin-bottom: 3rem;

}

h4 {
    color: var(--black);
    font-size: 26px;
    font-weight: 400; 
    letter-spacing: 1px;
    margin-bottom: -2rem;

}

h5 {
    color: var(--black);
    font-size: 28px;
    font-weight: 700; 
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

h6 {
    color: var(--black);
    font-size: 16px;
    font-weight: 700; 
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

@media screen and (min-width: 800px) {
    .three-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

p {
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 4rem;
}

li {
    color: var(--black); 
    letter-spacing: 1px;
    margin-bottom: 2rem; 
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0,1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}

.overview {
    background-color: var(--cream);
    padding: 5rem 0; 
}

img {
   height:700px;
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
